body {
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}